<p>AQUI VAMOS A PONER EL DASHBOARD</p>

<div class="bg-dark">
  <img src="../../../assets/images/background/fondo_dashboard.jpg"
        class="img-thumbnail">


                                <div class="row p-t-10 p-b-10">
                                    <!-- Column -->
                                    <div class="col p-r-0">
                                        <h1 class="font-light text-center">86</h1>
                                        <h6 class="text-muted text-blue text-center">New Clients</h6></div>
                                    <!-- Column -->

                                </div>

</div>








<div>
<footer class="footer text-right"> © 2021 Admin Pro by RaulOriol</footer>
</div>
