
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss (20) -->
  <!-- ============================================================== -->
  <section id="wrapper" class="login-register login-sidebar img-thumbnail " style="background-image:url(assets/images/background/fondo_login1.jpg);">
      <div class="login-box card">
          <div class="card-body">

            <!--(68) hacemos un submit de lo que tenemos para hacer el login-->
            <!--(168) Utilizando el servicio para poder enviar los datos del formulario a la BD-->

              <form class="form-horizontal form-material"

                    autocomplete="off"
                    [formGroup]="formularioLogin"
                    (ngSubmit)="login()"

              id="loginform" action="index.html">

                  <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>
                  <div class="form-group m-t-40">
                      <div class="col-xs-12">

                          <input class="form-control"
                          type="email"
                          formControlName="email"
                          placeholder="Email">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">

                          <input class="form-control"
                          type="password"
                          formControlName="password"
                          placeholder="Contraseña">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <div class="checkbox checkbox-primary pull-left p-t-0">
                              <input
                              id="checkbox-signup"
                               type="checkbox"
                               formControlName="remember"
                              class="filled-in chk-col-light-blue">

                              <label for="checkbox-signup"> Recuerdame  </label>
                          </div>
                          <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Has olvidado tu contraseña?</a> </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-10">
                          <button class="btn btn-danger btn-lg btn-block  text-uppercase btn-rounded" type="submit">Entrar</button>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center"
                            id="google_btn">

                      <div id="my-signin2"></div>

                      </div>
                  </div>

                  <div class="form-group m-b-0">
                      <div class="col-sm-12 text-center">
                          ¿ No tienes cuenta? <a routerLink='/register' class="text-primary m-l-5"><b>Registrarse</b></a>
                      </div>
                  </div>
              </form>
              <form class="form-horizontal" id="recoverform" action="index.html">
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <h3>Recuperar contraseña</h3>
                          <p class="text-muted">Introduce un email valido y se te enviaran las instrucciones! </p>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                          <input class="form-control" type="text" required="" placeholder="Email">
                      </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Resetea</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </section>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
