<div class="row animated fadeIn fast">

              <div class="col-12">
                  <div class="card">
                      <div class="card-body">

                            <input type="text"
                            class="form-control"
                            placeholder="Buscar Hospitales"
                            #txtBusqueda
                            (keyup)="buscarHospitales(txtBusqueda.value)"
                            />

                      </div>
                  </div>
              </div>
    </div>


<div class="row
            animated
            fadeIn
            fast"
     *ngIf="cargando">
  <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando...</h4>
        <i class=" fa fa-2x fa-spin fa-refresh"></i>
        <p class="mb-0"></p>
      </div>

  </div>
</div>


<!-- (197) 6.35min Tablas vamos a basic table de ahi a bordered table lo elegimos con el inspector al lado y copiamos y pegamos aqui-->


<div class="row"
      *ngIf="!cargando">
  <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                              <div class="text-right">
                                 <button type="button"
                                         (click)="abrirSweetAlert()"
                                         class="btn btn-primary
                                                fa fa-hospital-o">
                                         Crear hospital</button>
                              </div>
                                <h4 class="card-title">Hospitales ({{hospitales.length}})</h4>
                                <h6 class="card-subtitle">Hospitales registrados en la Aplicacion</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Nombre</th>
                                                <th class="text-nowrap ancho100">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let hospital of hospitales">

                                                <!--
                                                <td>{{hospital.img | imagen :'hospitales'}}</td>
                                                -->
                                                <td class="text-center cursor">
                                                  <img [src]="hospital.img | imagen :'hospitales'"
                                                       [alt]="hospital.nombre"
                                                       class="ancho50"
                                                       (click)="abrirModal(hospital)">
                                                </td>


                                                <td>
                                                  <input type="text"
                                                         class="form-control"
                                                         placeholder="Nombre del hospital"
                                                         [(ngModel)]="hospital.nombre">


                                                </td>

                                                <td class="text-nowrap text-center">
                                                    <a (click)="actualizarHospi(hospital)"
                                                      class="cursor"
                                                      data-toggle="tooltip"
                                                      data-original-title="Guardar">
                                                      <i class="fa fa-pencil text-inverse m-r-10"></i>

                                                    </a>

                                                    <a (click)="eliminarHospi(hospital)"
                                                      class="cursor"
                                                      data-toggle="tooltip"
                                                      data-original-title="Borrar">
                                                      <i class="fa fa-close text-danger"></i>
                                                    </a>
                                                </td>


                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                              <!-- Paginacion
                              <button type="button" class="btn btn-secondary">Anterior</button>
                              &nbsp;
                              <button type="button" class="btn btn-secondary">Siguiente</button>
                              -->

                            </div>
                        </div>
                    </div>

</div>

