
<h3>{{leyenda}}</h3>

  <div class="input-group">

    <!--primer boton-->
    <span class="input-group-btn">
      <button class="btn btn-primary"
              type="button"
              (click)="cambiarValor(+5)">
        <i class="mdi mdi-plus"></i>
      </button>
    </span>

    <!--barra de texto-->
    <!--Con el name el el ngModel sale el numero que tenemos de valor, hay que importalo en pages.module-->
    <input #txtNumero type="number"
          min="1"
          max="100"
          class="form-control text-center"

          name="porcentaje"
          [(ngModel)]="porcentaje"
          (ngModelChange)="cambio($event)"
           >

    <!--segundo boton-->
    <span class="input-group-btn">
      <button class="btn btn-primary"
              type="button"
              (click)="cambiarValor(-5)">

        <i class="mdi mdi-minus"></i>
      </button>
    </span>

  </div>
