  <div class="row animated fadeIn fast">

              <div class="col-4">
                  <div class="card">
                      <div class="card-body">
                        <h3>Usuarios</h3>

                          <div class="alert alert-info"
                                *ngIf="usuarios.length===0">
                            <h4 class="alert-heading">No hay usuarios en la búsqueda</h4>
                            <p></p>
                            <p class="mb-0"></p>
                          </div>

                          <div class="table-responsive"
                          *ngIf="usuarios.length > 0">
                            <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr >
                                                <th>Foto</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usuario of usuarios"
                                                class="animated fadeIn fast">
                                                <td>
                                                <img [src]="usuario.img | imagenusuario :'usuarios'"
                                                       [alt]="usuario.nombre"
                                                       class="ancho50">
                                                </td>
                                                <td>{{usuario.nombre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                          </div>


                      </div>
                  </div>
              </div>

<!--HOSPITALES-->
              <div class="col-4">
                  <div class="card">
                      <div class="card-body">
                        <h3>Hospitales</h3>

                          <div class="alert alert-info"
                                *ngIf="hospitales.length===0">
                            <h4 class="alert-heading">No hay hospitales en la búsqueda</h4>
                            <p></p>
                            <p class="mb-0"></p>
                          </div>



                          <div class="table-responsive"
                          *ngIf="hospitales.length > 0">
                            <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let hospital of hospitales"
                                                class="animated fadeIn fast">
                                                <td>
                                                  <img [src]="hospital.img | imagen :'hospitales' "
                                                  class="ancho50">
                                                </td>

                                                <td>{{hospital.nombre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                          </div>


                      </div>
                  </div>
              </div>

<!--MEDICOS-->
              <div class="col-4">
                  <div class="card">
                      <div class="card-body">
                        <h3>Médicos</h3>

                          <div class="alert alert-info"
                                *ngIf="medicos.length===0" >
                            <h4 class="alert-heading">No hay médicos en la búsqueda</h4>
                            <p></p>
                            <p class="mb-0"></p>
                          </div>



                          <div class="table-responsive"
                              *ngIf="medicos.length > 0">
                            <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr >
                                                <th>Foto</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let medico of medicos"
                                                class="animated fadeIn fast">
                                                <td>
                                                <img [src]="medico.img | imagenmedico :'medicos'"
                                                       [alt]="medico.nombre"
                                                       class="ancho50">
                                                </td>

                                                <td>
                                                  <a [routerLink]="['/medico',medico._id]">
                                                  {{medico.nombre}}
                                                  </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                          </div>


                      </div>
                  </div>
              </div>




    </div>
